body {
    font-family: 'Arial', sans-serif;
    color: #FF4500; 
    background: linear-gradient(135deg, #1c1c1c, #383838);
    margin: 0;
    padding: 20px;
    line-height: 1.6;
    
}

header {
    text-align: center;
    margin-bottom: 30px;
}

h1, h2 {
    color: #e8711c;
    margin: 10px 0;
    letter-spacing: 1.5px;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.7);
}

h2 {
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7);
    margin: 20px 0;
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.05);
}

section {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

section ul li strong,
section ol li strong {
    color: #ff7a22; 
}

ul, ol {
    padding-left: 20px;
}

li {
    margin-bottom: 10px;
    color: #e34d03; 
}


a {
    color: #1edb14;
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid transparent;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #FF4500; 
}

table {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
    text-align: center;
}

caption {
    caption-side: top;
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
    color: #bcbebc;
    text-align: center;
}

th, td {
    padding: 15px;
    text-align: center; 
    border-bottom: 1px solid #444;
}

th {
    background-color: #333;
    color: #10e604;
    font-weight: bold;
}

td {
    background-color: rgba(255, 255, 255, 0.1);
    color: #FF4500; 
}
